<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!--ICONS-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <section class="todo-container">
        <section class="todo">
            <h1>Todos</h1>
            <ul>
                <% todos.forEach(el => { %>
                <li class='todoItem' data-id='<%= el._id %>'>
                    <% if (el.editMode) { %>
                        <input type="text" value="<%= el.updatedTodoText || el.todo %>" class="editInput" data-id='<%= el._id %>'>
                        <span class="fas fa-check check" onclick="updateTodo('<%= el._id %>')"> </span>
                    <% } else { %>
                        <span class='<%= el.completed === true ? 'completed' : 'not' %>'><%= el.todo %></span>
                        <span class="fas fa-edit edit" onclick="enableEditMode('<%= el._id %>')"> </span>
                    <% } %>
                    <span class="fas fa-times del"></span>
                </li>
                <% }) %>
            </ul>

            <h2><%= user.userName %> has <%= left %> things left to do.</h2>

            <form action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input type="submit">
            </form>

            <a href="/logout">Logout</a>
        </section>
    </section>

    <script src="js/main.js"></script>
</body>
</html>